{% extends 'blog/based.html' %}




{% block content %}
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
<div class="content-section">
<form method="POST">
	{% csrf_token %}
	<fieldset class="form-group">
		<br>
		<legend class="border-bottom mb-4">Delete Post</legend>
		<h2>Are you sure you want to delete the post <h4>( {{ object.title }} )</h4></h2>
	</fieldset>
	<button class="btn btn-danger" type="submit">Yes, Delete</button>    <a href="{% url 'blog-detail' object.id %}"class="btn btn-outline-info" type="submit">Cancel</a>


</form>
<div class="border-top pt-3">
</div>
</div>
</div>
</body>
</html>
{% endblock %}

