

{% extends 'blog/based.html' %}
{% load crispy_forms_tags %}


{% block content %}
<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<br>

<p><img class='rounded-circle account-img float-left' style= width:30%;height:15%;margin-bottom:-10%; src="{{user.profile.image.url}}"> 	<strong style= font-size:140%;>{{user.username}} </strong>   
</img></p>

<p style= font-size:110%;margin-left:34%;margin-top:-6%;>   Email: <a href="#"> {{user.email}}</a>	</p>

<div class='container'>
	<div>

		<br>
		<br>
<div class="content-section">
<form method = "POST" enctype="multipart/form-data" >
	{% csrf_token %}
	<fieldset class="form-group">
		<br>
		<legend class="border-bottom mb-4">UPDATE</legend>
		{{u_form|crispy}}
		{{p_form|crispy}}

	</fieldset>
	<div class="form-group"><button class="btn btn-outline-info" type="submit">UPDATE</button></div>
</form>
</div>
</div>
</body>
</html>
{% endblock %}

